In [7]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

import pandas as pd
data = [4,8,15,16,23,42]
df = pd.Series(data)
print(df)
print(type(df))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64
<class 'pandas.core.series.Series'>

In [19]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

data_list = []
for data in range(11):
    data_list.append(input("enter 10 elements in the list: "))

df2 = pd.Series(data_list)
print(df2)

enter 10 elements in the list:  hello
enter 10 elements in the list:  my
enter 10 elements in the list:  name
enter 10 elements in the list:  is
enter 10 elements in the list:  sheela,
enter 10 elements in the list:  1234
enter 10 elements in the list:  001
enter 10 elements in the list:  0
enter 10 elements in the list:  -99
enter 10 elements in the list:  12ka4
enter 10 elements in the list:  lastwala

0        hello
1           my
2         name
3          is
4      sheela,
5         1234
6          001
7            0
8          -99
9        12ka4
10    lastwala
dtype: object

In [21]:
#Q3. Create a Pandas DataFrame that contains the following data & print it


data2 = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df4 = pd.DataFrame(data2)
print(df4)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

DataFrame is a two-dimensional labeled data structure resembling a spreadsheet or SQL table, consisting of rows and columns.
eg- 
#Creating a DataFrame
    data = {'Name': ['Alice', 'Bob', 'Charlie'],
            'Age': [25, 30, 35],
            'Gender': ['Female', 'Male', 'Male']}
    df = pd.DataFrame(data)

# Displaying the DataFrame
    print("DataFrame:")
    print(df)


Series is a one-dimensional labeled array capable of holding data of any type.
eg- 
# Creating a Series
ages_series = pd.Series([25, 30, 35], name='Age')

# Displaying the Series
print("\nSeries:")
print(ages_series)

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

There are many functions available in Pandas to manipulate data in a DataFrame. Some common ones include:

1. `head()` and `tail()`: These functions allow you to view the first or last few rows of your DataFrame, respectively. They are useful for quickly inspecting the structure and content of your data.

2. `info()`: Provides a concise summary of the DataFrame including the index dtype and column dtypes, non-null values, and memory usage. It's useful for understanding the data types and missing values in your DataFrame.

3. `describe()`: Generates descriptive statistics of the numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, and maximum. It provides a quick overview of the distribution of numerical data.

4. `iloc[]` and `loc[]`: These are used for selection and slicing of rows and columns by index and label, respectively. `iloc[]` is integer-location based indexing, while `loc[]` is label-based indexing.

5. `dropna()`: Removes rows or columns with missing values (NaN). It's useful for cleaning up your data by removing incomplete or irrelevant rows or columns.

6. `fillna()`: Fills missing values (NaN) with specified values. This function is helpful for handling missing data by imputing values based on different strategies such as mean, median, or a constant value.

7. `groupby()`: Allows you to group DataFrame rows based on one or more columns and perform aggregation functions on the grouped data. It's useful for performing operations on subsets of data.

8. `merge()` and `join()`: These functions are used to combine two DataFrames based on one or more keys. They are useful for integrating data from different sources or performing relational operations.

9. `apply()`: Applies a function along an axis of the DataFrame. It's useful for applying custom or built-in functions to each element, row, or column of the DataFrame.

10. `sort_values()` and `sort_index()`: These functions are used to sort the DataFrame by values or index labels, respectively. They are helpful for arranging data in a desired order.

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

DataFrame is the mutable object, meaning it can be modified after creation.
Series and Panel are immutable in nature. Once created, their content cannot be changed without creating a new object.

In [31]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.


names = pd.Series(['Aisha', 'Boby', 'Chandan', 'Devika', 'Kailash'])
marks = pd.Series([95, 80, 83, 68, 89])
dept = pd.Series(['CSA', 'AI', 'CDS', 'CSA', 'CSA'])

# Creating DataFrame using multiple Series
df = pd.DataFrame({'Name': names, 'Deapartment': dept, 'Marks': marks})

print("THE DATAFRAME IS:\n\n", df)

THE DATAFRAME IS:

       Name Deapartment  Marks
0    Aisha         CSA     95
1     Boby          AI     80
2  Chandan         CDS     83
3   Devika         CSA     68
4  Kailash         CSA     89